<section class="directory-featured col-left gray">

  <figure>
    <div class="img-filter"></div>
    <img src="images/placeholder-directory.png" alt="HUGE">
    <span class="directory-title">HUGE</span>
    <span class="directory-location">Rio de Janeiro - RJ</span>
  </figure>

  <div class="directory-featured-container">
    <section class="desc">
      <h2>Description</h2>
      <p>Huge Brazil opened in 2011 to provide the company’s full array of user-focused design, digital business transformation consulting and integrated marketing services to clients in Brazil and throughout Latin America.</p>
    </section>
    <section class="site-external">
      <div class="col-left">
        <h2>Website</h2>
        <a href="#">www.hugeinc.com</a>
      </div>
      <div class="col-right">
        <h2>Twitter</h2>
        <a href="#">@hugeinc</a>
      </div>
    </section>
    <section class="featured-websites">
      <h2>Featured Websites</h2>
      <div class="websites">
        <article class="site">
          <figure>
            <img src="images/placeholder-site.jpg" alt="Vamos Plantar?">
          </figure>
          <span class="site-title">Vamos Plantar?</span>
          <span class="site-author">R/GA</span>
        </article>

        <article class="site">
          <figure>
            <img src="images/placeholder-site.jpg" alt="Vamos Plantar?">
          </figure>
          <span class="site-title">Vamos Plantar?</span>
          <span class="site-author">R/GA</span>
        </article>
      </div>
    </section>
  </div>

</section>

<section class="directories col-right black">

  <div class="directories-container">

    <article class="directory">
      <span class="directory-title">Acaca</span>
      <span class="directory-location">São Paulo - SP</span>
    </article>

    <article class="directory">
      <span class="directory-title">Acaca</span>
      <span class="directory-location">São Paulo - SP</span>
    </article>

    <article class="directory">
      <span class="directory-title">Acaca</span>
      <span class="directory-location">São Paulo - SP</span>
    </article>

    <article class="directory">
      <span class="directory-title">Acaca</span>
      <span class="directory-location">São Paulo - SP</span>
    </article>

    <article class="directory">
      <span class="directory-title">Acaca</span>
      <span class="directory-location">São Paulo - SP</span>
    </article>

    <article class="directory">
      <span class="directory-title">Acaca</span>
      <span class="directory-location">São Paulo - SP</span>
    </article>

    <article class="directory">
      <span class="directory-title">Acaca</span>
      <span class="directory-location">São Paulo - SP</span>
    </article>

    <article class="directory">
      <span class="directory-title">Acaca</span>
      <span class="directory-location">São Paulo - SP</span>
    </article>

    <article class="directory">
      <span class="directory-title">Acaca</span>
      <span class="directory-location">São Paulo - SP</span>
    </article>

  </div>

</section>